<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="../css/master.css">
</head>
<body>
	 <nav>
				<div id = "nav">
					<ul>
						<li><a href="../index.html">Home</a></li>
						<li><a href="Contact.html">Contact</a></li>
						<li><a href="About.html">About me</a></li>
                        <li><a href="photo.html">Photo Galery</a></li>
				   </ul>
				</div>
      </nav>
    
    
      <div class="ab">
		  <h1 style="color:rgb(238, 24, 149);">
			<u> <i> About me </i> </u>
		</h1>
      	<h2>
			Hello I am an undergraduate student, studied in <u><a href="http://dept.ru.ac.bd/cse/" target="_blank" rel="nofollow">Department of CSE</a></u> at <a href="http://www.ru.ac.bd/" target="_blank" rel="nofollow"><u> University of Rajshahi</u> </a>
			with session 2013-14.<br> <br>
			I come from Satkhira at divission Khulna. Its the south-west corner of Bangladesh. <br><br>
			In previous I was in 
			<a href="http://www.infomap24.com/bn/point/secondary-school/labsha-imadul-haq-secondary-school/3423432.asp" target="_blank" rel="nofollow">Labsha Imadul Haq Secondary School</a>  in my SSC session from 2006 to 2011, 
			<a href="https://en.wikipedia.org/wiki/Satkhira_City_College" target="_blank" rel="nofollow">Satkhira City College</a> in my HSC session, from 2011-2013 
			and in Jugrajpur Govt. Primary School from 2001-2005 in my primary session.<br>
			<br>
			I love programming. It's my passion. I like to generate idea to solve a problem, that can be anything like real life problem or problem of IQ etc.</h2>

      </div>
    
    

</body>
</html>