<!DOCTYPE html>
<html>
<head>
	<title>Contact List</title>
	<link rel="stylesheet" type="text/css" href="../css/master.css">
</head>
<body>
	<nav>
				<div id = "nav">
					<ul>
						<li><a href="../index.html">Home</a></li>
						<li><a href="Contact.html">Contact</a></li>
						<li><a href="About.html">About me</a></li>
                        <li><a href="photo.html">Photo Galery</a></li>
				   </ul>
				</div>
      </nav>

      <div class="contact">
      	<h1 style="color:rgb(109, 126, 13);"><strong>Address & Contact</strong></h1><br><br>
      	<li>Mobile No: 01762-268627 </li>
      	<li>E-mail: <a href="https://mrit.cse.ru@gmail.com" target="_blank">mrit.cse.ru@gmail.com</a></li>
		<li>Facebook: <a href="https://www.facebook.com/mritru" target="_blank">fb.com/mritru</a></li>
      	<li>Linked-in: <a href="https://www.linkedin.com/in/md-rabiul-islam-tuhin-427915a9/" target="_blank">linkedin.com</a></li>
      	<li>Twitter: <a href="https://twitter.com/Rabiul_Tuhin" target="_blank">twitter.com/Rabiul_Tuhin</a></li>

      </div>

</body>
</html>